.NewClassForm {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    justify-content: center;
    width: 40%;
  }

.container{
    display: flex;
    justify-content: center;
}
  